* {
  box-sizing: border-box;
}
:root {
  --text-color: #757575;
  --navigation-title: #212121;
  --axent-color: #2196f3;
  --base-text-size: 14px;
  --header-color: #ffffff;
  --footer-color: #2f303a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/*Header*/
.header {
  background-color: var(--header-color, #ffffff);
}
.logo {
  font-family: "Raleway", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
.navigation-title {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 2%;
  color: var(--navigation-title);
}
.navigation-subtitle {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 2%;
  color: var(--text-color);
}
/*Section One*/
.section-one {
  background-color: var(--footer-color);
}
.one-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  color: var(--header-color);
  margin-top: 200px;
  margin-bottom: 30px;
}
.one-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 6%;
  color: var(--header-color);
  background-color: var(--axent-color);
  margin-bottom: 200px;
}
/*Section Two*/
.section-two {
  background-color: var(--header-color);
}
.two-list {
  list-style: none;
}
.two-title {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--navigation-title);
  margin-top: 95px;
  margin-bottom: 10px;
}
.two-text {
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 95px;
}
/*Section Three*/
.section-three {
  background-color: var(--header-color);
}
.three-list {
  list-style: none;
}
.three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--navigation-title);
  margin-bottom: 50px;
}
.team-img {
  margin-bottom: 95px;
}
/*Section Four*/
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--navigation-title);
  margin-top: 95px;
  margin-bottom: 50px;
}
.team-list {
  list-style: none;
}
.team-mini-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
}
.team-text {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
}
.team-img {
  margin-bottom: 95px;
}
/*Footer*/
.footer {
  background-color: var(--footer-color, #2f303a);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer-text {
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--header-color);
  margin-bottom: 9px;
}
.footer-text-transformer {
  line-height: 1.7;
  letter-spacing: 3%;
  color: #ffffff 60%;
  margin-bottom: 60px;
}
