:root {
  --text-color: #757575;
  --navigation-title: #212121;
  --axent-color: #2196f3;
  --base-text-size: 14px;
  --header-color: #ffffff;
  --footer-color: #2f303a;
}
.header {
  background-color: var(--header-color, #ffffff);
}
.footer {
  background-color: var(--footer-color, #2f303a);
}
.text-roboto {
  font-family: "Roboto", sans-serif;
}
.webstudio-title {
  font-family: "Raleway", sans-serif;
}