.logo {
  font-family: "Raleway", sans-serif;
  color: $axent-color;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 3%;
  margin-top: 25px;
  margin-bottom: 25px;
  @extend %flex;
}
.header__span {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 3%;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  color: $axent-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
  margin-top: 30px;
}
.footer__span {
  font-family: "Raleway", sans-serif;
  color: $header-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
}
