.clients {
  background-color: #ffffff;
}
.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 20px 65px;
  display: inline-block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__link:hover .clients__icon {
  fill: #2196f3;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  margin-top: 95px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 95px;
}
.clients__icon {
  width: 63px;
  height: 61px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover {
  fill: #2196f3;
}
