.footer {
  background-color: $footer-color;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.footer__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
.footer__first__div {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width:768px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}

.footer__text {
  line-height: 1.7;
  letter-spacing: 3%;
  color: #ffffff;
  margin-left: -25px;

  @media (min-width: 1200px) {
    margin-left: 0;
  }
}
.footer__text__email {
  line-height: 1.7;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.footer__text__number {
  line-height: 1.7;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 7px;

  @media (min-width: 1200px) {
    margin-left: 0;
  }
}
.footer__sm__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;

  @media (min-width: 1200px) {
    margin-left: 93px;
  }
}
.sm__container {
  margin-top: 20px;
}
.footer__sm__link {
  border-radius: 50%;
  padding: 12px;
  display: inline-block;
  background-color: #ffffff1a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sm__link:hover {
  background-color: #2196f3;
  border: #2196f3;

  fill: #ffffff;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__sm__link:hover .footer__icon {
  fill: #ffffff;
}
.sm__title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-left: 50px;
  margin-bottom: 20px;

  @media (min-width: 1200px) {
    margin-left: 100px;
  }
}
.footer__form {
  @extend %flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}
.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 0;

  @media (min-width: 1200px) {
    text-align: left;
    margin-left: 0;
  }
}
.label__contain {
  @media (min-width: 768px) {
    text-align: center;
  }
  @media (min-width: 1200px) {
    margin-left: 93px;
  }
}
.tablet__container {
}
.footer__input {
  border: 1px solid #ffffff4d;
  padding: 15px;
  width: 100%;
  color: #ffffff99;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 4px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 450px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 30px;
    margin-right: 12px;
  }
}
.send__img {
  width: 12px;
  height: 12px;
  align-items: center;
}
.footer__btn__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}
