.footer {
  background-color: $footer-color;
  display: flex;
  justify-content: center;
  padding: 30px 215px;
}
.footer__div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  color: $axent-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
  margin-top: 30px;
}
.footer__span {
  font-family: "Raleway", sans-serif;
  color: $header-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 3%;
}
.footer__text {
  line-height: 1.7;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.footer__text__transformer {
  line-height: 1.7;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
}
.footer__sm__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 70px;
}
.footer__sm__link {
  border-radius: 50%;
  padding: 12px;
  display: inline-block;
  background-color: #ffffff1a;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sm__link:hover {
  background-color: #2196f3;
  border: #2196f3;

  fill: #ffffff;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer__sm__link:hover .footer__icon {
  fill: #ffffff;
}
.sm__title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
}
.footer__form {
  @extend %flex;
  position: absolute;
}
.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.label__contain {
  margin-left: 93px;
}
.footer__input {
  border: 1px solid #ffffff4d;
  padding: 15px 200px 15px 16px;
  color: #ffffff99;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 4px;
}
.send__img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  align-items: center;
}
.footer__btn__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  background-color: #2196f3;
  color: #ffffff;
  padding: 5px 28px;
  border: none;
  border-radius: 4px;
}
