.section__gallery {
  background-color: $header-color;
}
.gallery__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 95px;

  @media (min-width: 768px) {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 30px;
    margin-top: 95px;
  }

  @media (min-width: 1200px) {
    list-style: none;
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    margin-top: 95px;
  }
}
.gallery__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 25px 0;
  @media (min-width: 768px) {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
  }

  @media (min-width: 1200px) {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
  }
}
.gallery__item:nth-child(1)::before {
  background-image: url(./../images/antenna.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/antenna@2x.png);
  }
}
.gallery__item:nth-child(2)::before {
  background-image: url(./../images/clock.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/clock@2x.png);
  }
}
.gallery__item:nth-child(3)::before {
  background-image: url(./../images/diagram.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/diagram@2x.png);
  }
}
.gallery__item:nth-child(4)::before {
  background-image: url(./../images/astronaut.png);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/astronaut@2x.png);
  }
}
.gallery__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
  color: $navigation-title;

  margin-top: 30px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;

    text-align: left;
  }

  @media (min-width: 1200px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-transform: uppercase;

    text-align: left;
  }
}
.gallery__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
  color: $text-color;
  margin-top: 10px;
  margin-bottom: 95px;
  max-width: 330px;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 270px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    text-align: left;
  }
}
