.section__gallery {
  background-color: $header-color;
}
.gallery__list {
  list-style: none;
  @extend %flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 95px;
}
.gallery__item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__item:nth-child(1)::before {
  background-image: url(./../images/antenna.png);
}
.gallery__item:nth-child(2)::before {
  background-image: url(./../images/clock.png);
}
.gallery__item:nth-child(3)::before {
  background-image: url(./../images/diagram.png);
}
.gallery__item:nth-child(4)::before {
  background-image: url(./../images/astronaut.png);
}
.gallery__title {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3%;
  color: $navigation-title;
  margin-top: 30px;
  margin-bottom: 10px;
}
.gallery__text {
  line-height: 1.7;
  letter-spacing: 3%;
  color: $text-color;
  margin-top: 10px;
  margin-bottom: 95px;
}
