.navigation-list-portfolio {
  list-style: none;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700px;
  display: flex;
  justify-content: space-between;
}
.header-port {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  align-items: center;
}
