.navigation__list__portfolio {
  list-style: none;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700px;
  @extend %flex;
}
.header__port {
  background-color: $header-color;
  @extend %flex;
  border-bottom: 1px solid #ececec;
  align-items: center;
}
