.section__heroic {
  text-align: center;
  background-image: url(./../images/hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 118px 0;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./../images/hero-mob@2x.png);
  }

  @media (min-width: 768px) {
    background-image: url(./../images/hero-tablet.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero-tab@2x.png);
    }
  }

  @media (min-width: 1200px) {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(./../images/hero-img.png);
    padding: 200px 0;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/hero-img@2x.png);
    }
  }
}
.heroic__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: $header-color;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 26px;
  }

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.heroic__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 6%;
  color: $header-color;
  background-color: $axent-color;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
  border: none;

  box-shadow: 0px 4px 4px 0px #00000026;

  @media (min-width: 1200px) {
    padding: 10px 32px;
  }
}
