.hero__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  margin-bottom: 20px;
}
.hero__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: $axent-color;
}
.hero__button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 52px;
  background-color: #2196f3;
  border: none;
  align-items: center;
}
.hero__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
  align-items: center;
  position: relative;
}
.hero__input__title {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: #757575;
}
.hero__input {
  display: block;
  width: 100%;
  padding: 12px 42px;
  position: relative;
  border-radius: 4px;
  margin-top: 4px;
  border: 1px solid #21212133;
}
.hero__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  @media (min-width: 1200px) {
    width: 100%;
    height: 120px;
  }
}
.hero__input:hover,
.hero__input:focus,
.hero-input:active {
  border: 1px solid #2196f3;
}
.hero__input__icon {
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 15px;
}
.hero__input:hover ~ .hero__input__icon,
.hero__input:focus ~ .hero__input__icon {
  fill: #2196f3;
}
.modal__btn__close {
  border-radius: 50%;
  fill: #000;
  background-position: center;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
}
.icon__close {
  display: block;
  width: 18px;
  height: 18px;
}

.modal {
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: white;
  @media (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  background-color: #19191975;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
