.team {
  background-color: #f5f4fa;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: $navigation-title;
  padding-top: 95px;
  margin-bottom: 50px;
  text-align: center;
}
.team__list {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;

  @media (min-width:768px) {
    list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  }

  @media (min-width:1200px) {
   list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  }
}
.team__item {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 300px;

  @media (min-width:768px) {
  width: 300px;
  }

  @media (min-width:1200px) {
  width: 270px;
  }
}
.team__mini__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 30px;
  color: #757575;
}
.team__img {
  width: 300px;
  height: 260px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width:1200px) {
    width: 270px;
  }
}
.team__sm__list {
  @extend %flex;
  gap: 10px;
  margin-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team__sm__link {
  border-radius: 50%;
  padding: 12px;
  display: inline-block;
  transform: background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.team__sm__link:hover {
  background-color: #2196f3;

  fill: #ffffff;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.team__sm__link:hover .team__icon {
  fill: #ffffff;
}
